<!DOCTYPE html>
<html lang="en" ng-app="DIApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <title>UpperCase Name</title>
    </head>
    <h1>UpperCase</h1>
    <div ng-controller="DIController">
        <input type="text" 
            ng-model="list">
        <br>
        List : {{ output }}
        <br>
        List Length: {{ listSize }}
        <br>
        <button ng-click="processInput();">Check If Too Much</button>
        <br>
        ==> {{ msg }}
    </div>
</html>